<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/_tnDebug_/static/css/tnDebug.css" type="text/css">
    <script>var _tndb_define_backup = window.define; window.define = undefined;</script>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> 
    <script>var tndb = {jQuery: jQuery.noConflict(true)}; window.define = _tndb_define_backup;</script>
    <script src="/_tnDebug_/static/js/tnDebug.js"></script> 
    <div id="tnDebug" style="display:none;">
     <div class="panelsBody">
        <div class="panelsTitle">
            <a class="tnDebugClose">x</a>
            <h3>Debug Result</h3>
        </div>
        <div class="panelsContent">
            <div class="panels">
                <div role="tabpanel">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    {% if panels %}
                    <li role="presentation" class="active"><a href="#{{panels[0].id}}" aria-controls="{{panels[0].id}}" role="tab" data-toggle="tab">{{panels[0].name}}</a></li>
                    {% for panel in panels[1:] %} 
                    <li role="presentation"><a href="#{{panel.id}}" aria-controls="{{panel.id}}" role="tab" data-toggle="tab">{{panel.name}}</a></li>
                    {% endfor %}
                    {% endif %}
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    {% if panels %}
                    <div role="tabpanel" class="tab-pane active" id="{{panels[0].id}}">
                        {{panels[0].content}}
                    </div>
                    {% for panel in panels[1:] %} 
                    <div role="tabpanel" class="tab-pane" id="{{panel.id}}">
                        {{panel.content}}
                    </div>
                    {% endfor %}
                    {% endif %}
                  </div>
              </div> 
            </div>
        </div>
        </div>
        <div id="tnDebugHandle">
            <span id="tnDebugShowButton" title="show result">show</span>
        </div>
  </div>
