<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tonado run result</title>
    <link rel="stylesheet" href="/_tnDebug_/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/_tnDebug_/static/tnDebug/tnDebug.css" type="text/css">
    <link rel="stylesheet" href="/_tnDebug_/static/jquery/jquery.jsonview.css" />
  </head>
  <body>
    <div id="tnDebug">
     <div class="panelsBody">
        <div class="panelsTitle">
            <h3><a href="/">Debug Result</a></h3>
        </div>
        <div class="panelsContent">
            <div id='panel' class="panels">
                <div id="container"></div>      
                <br></br>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownUrls" data-toggle="dropdown" aria-expanded="false">
                        纵向比较的url: <span></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownUrls">
                        {% for url in urls %}
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ url }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="container2"></div>      
            </div>
        </div>
     </div>
    </div>
    <script src="/_tnDebug_/static/jquery/jquery.min.js"></script>
    <script src="/_tnDebug_/static/bootstrap/bootstrap.min.js"></script> 
    <script src="/_tnDebug_/static/highcharts/highcharts.js"></script>
    <script src="/_tnDebug_/static/tnDebug/server_index.js"></script>
  </body>
</html>
